{% extends 'base.html.twig' %}

{% block title %}New Request{% endblock %}

{% block body %}
    <h1>Create new Request</h1>

    {{ include('request/_form.html.twig') }}

    <a href="{{ path('employees_dashboard') }}">Back to dashboard</a>
{% endblock %}