{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    {% include 'admin/nav.html.twig' %}

    <h1>Welcome {{ username }}</h1>
    <p><strong>Role:</strong>
        {% for role in roles %}
            {{ role }}
        {% endfor %}
    </p>

    <div>
        <img src="{{ profile ? asset(profile) : asset('uploads/profile_images/default.jpg') }}" alt="Profile Picture" width="100" height="100">
    </div>

    {% include 'management/approvedemp.html.twig' %}
{% endblock %}