{% extends 'base.html.twig' %}

{% block title %}New Approved{% endblock %}

{% block body %}
    <h1>Create new Approved</h1>

    {{ include('approved/_form.html.twig') }}

    <a href="{{ path('app_approved_index') }}">back to list</a>
{% endblock %}
