{% extends 'base.html.twig' %}

{% block title %}Reset Your Password{% endblock %}

{% block body %}
<h1>Reset Your Password</h1>

{{ form_start(form) }}
    {{ form_row(form.password) }}
    <button type="submit">Set Password</button>
{{ form_end(form) }}
{% endblock %}